.wifi-btn {
  background: black;
  box-shadow: inset 0 0 0 0px rgba(0, 123, 255, 0.5);
  border: 0px solid #007bff;
  color: #57534e;
  font-size: 18px;
  padding: 0 16px;
  min-width: 200px;
  border-radius: 0px 0px 8px 25px;
}
